<footer>
    <div class="container-fluid scifabric">
        <div class="container">
            <div class="row">
                <div class="col-sm-offset-2 col-sm-4 col-md-offset-0 col-md-2 col-lg-2">
                    	
                </div>
                <div class="col-sm-offset-2 col-sm-4 col-md-offset-0 col-md-2 col-lg-2">
			<p><strong><a href="{{url_for('help.privacy')}}">{{ _('Privacy Policy') }}</a></strong></p>
                </div>
                <div class="col-sm-offset-2 col-sm-4 col-md-offset-0 col-md-2 col-lg-2">
			<p><strong><a href="{{url_for('help.cookies_policy')}}">{{ _('Cookies Policy') }}</a></strong></p>
                </div>
                <div class="col-sm-4 col-md-2 col-lg-2">
			<p><strong><a href="{{ url_for('account.index')}}">{{ _('Community') }}</a></strong></p>
                </div>
                <div class="col-sm-4 col-md-2 col-lg-2">
			<p><strong><a href="{{url_for('stats.index')}}">{{ _('Stats') }}</a></strong></p>
                </div>
                <div class="col-sm-4 col-md-2 col-lg-2">
			<p><strong><a href="https://easycovid19.org/">easycovid19.org</a></strong></p>
                </div>
            </div>
        </div>
    </div> 
</footer>

